* {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: white;
    min-width: 1440px;
    width: 90%;
    margin: 0 auto;

}

a {
    text-decoration:none;
    color: black;
  }
  a:hover {
    transition: 0.2s;
    border-bottom-style: solid; 
    border-bottom-width: 3.1px; 
    width: fit-content; 
    border-radius: 2px;
    border-color:  #FFE500;
  }


.container {
    max-width: 1440px;
    width: 90%;
    height: 631px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    background-color: #20232A;
    height: 105px;
    justify-content: space-between;
}

    .navbar__left {
        width: 223px;
        height: 25px;
        margin-left: 103px;
        margin-top: 42px;
        display: flex;
        align-content: center;
    }


        .navbar__left span{
            font-family: 'Roboto', sans-serif;
            color: #FFE600;
            font-size: 20px;
        }

    .navbar__right {
        display: flex;
        justify-content: space-between;
        color: white;
        width: 698px;
        height: 26px;
        margin-top: 42px;
        margin-right: 100px;
        align-content: center;
        font-size: 22px;
    }

        .navbar__searchbar {
            position: relative;
            top: 5px;
            width: 146px;
            height: 25px;
            border-radius: 25px;
            background-color: #FFE500;
        }

        .navbar__searchbar::placeholder {
            color: black;
            font-style: italic;
        }


        .right__menu-github {
            margin-left: 30px;
            color: white;
        }



        .right__menu {

            display: flex;
            /* align-content: center; */
            justify-content: space-between;
        }

            .menu__items {
                margin: 0 23px;
                display: flex;
                text-decoration: none;
                color: white;
            }

            .menu__items:hover {
                transition: 0.2s;
                padding-bottom: 42px;
                border-bottom-style: solid; 
                border-bottom-width: 3.1px; 
                width: fit-content; 
                border-radius: 2px;
                border-color:  #FFE500;

            }

            .right__menu-github:hover {
                transition: 0.2s;
                padding-bottom: 42px;
                border-bottom-style: solid; 
                border-bottom-width: 3.1px; 
                width: fit-content; 
                border-radius: 2px;
                border-color:  #FFE500;
            }





    .slider {
        width: 761px;
        height: 355px;
        display: flex;
        height: 526px;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }

        .slider__main {
            font-size: 175px;
        }

        .slider__link {
            font-size: 36px;
            text-decoration: none;
            color: white;
        }

        .slider__link-container a:hover{
            color: white;
        }

            .slider__link-container {
                display: flex;
                height: 68px;
                width: 505px;
                /* margin-top: 77px; */
                border: solid 4px #FFE600;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
            }

.catalogue {
    height: 1152px;
    display: flex;
    flex-wrap: wrap;
}

    .catalogue span {
        font-family: 'Montserrat', sans-serif;
        font-size: 27px;
        align-self: center;
        margin: 0 auto;
    }

    .catalogue__items-container {
        width: 1348px;
        height: 861px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
    }

        .items-container__items {
            display: flex;
            width: 399px;
            height: 224px;
            font-size: 46px;
            background-color: black;
            color: #FFE600;
            border-radius: 25px;
            justify-content: center;
            align-items: center;
            opacity: 0.5;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }


        /* анимация движения стыбзина отсюда https://codepen.io/avithour/pen/xzNJaV */

        .items-container__items:hover {
            transition: 0.3s;
            opacity: 1;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            animation-duration: 0.25s;
            border-left: 8px solid red;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        .items-container__items a {
            text-decoration: none;
            color: #FFE600;
        }
        .items-container__items a:hover {
            animation: rotate 2s infinite reverse;
        }




.footer {
    height: 554px;
    background-color: #20232A;
    display: flex;
    flex-wrap: wrap;
}

    .footer__left {
        width: 199px;
        height: 400px;
        margin-left: 94px;
        margin-top: 42px;
        display: flex;
        align-content: center;
    }

        .footer__left span{
            align-self: center;
            font-family: 'Roboto', sans-serif;
            color: white;
            font-size: 20px;
        }

        .footer__left p{
            position: relative;
            top: 290px;
            right: 150px;
            font-family: 'Montserrat', sans-serif;
            color: #FFE600;
            font-size: 107px;
        }


    .footer__right {
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        color: white;
        display: flex;
        flex-wrap: wrap;
        width: 900px;
        height: 367px;
        justify-content: space-evenly;
        margin: 0 auto;
    }


    .right_link {
        display: flex;
        flex-wrap: wrap;
        width: 185px;
        height: 350px;
        align-content: center;
        justify-content: center;
    }

    .footer__right a:first-of-type {
        font-size: 30px;
    }

    .footer__right a {
        text-decoration: none;
        color: whitesmoke;
    }

    
@keyframes rotate {
    0% {
        transform: rotate(00deg);
    }    
    /* 20% {
        transform: rotate(120deg);
    }
    40% {
        transform: rotate(180deg);
    }
    60% {
        transform: rotate(240deg); 
    }
    */
    90% {
        transform: rotate(365deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media all and (max-width:380px) {
    .items-container__items {
        width: 100vh;
        margin: 10px auto;
    }
    .catalogue__items-container {
        flex-direction: column;
        display: inline-flex;
        width: auto;
        height: auto;
    }
    .catalogue {
        flex-direction: column;
        height: auto;
        margin: 100px auto;
    }
    .catalogue span {
        margin: 50px auto;
    }

    .container {
        width: auto;
    }

    .footer {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .footer__right {
        width: auto;
        height: auto;
        flex-direction: column;
        margin: 50px auto;
    }

    .right_link {
        height: auto;
    }
}

/* здесь начинаются уникальные классы для страницы DOCUMENTATION */

.overflow-auto::-webkit-scrollbar {
    width: 5px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color:white;
}

/* ползунок скроллбара */
.overflow-auto::-webkit-scrollbar-thumb {
    background-color: #FFE500;
    border-radius: 20%;
    box-shadow: inset 1px 1px 3px #FFE500;
}


@media all and (max-width: 768px) {
    .slide-bar {
        display: none;
    }
}


.test_class::after {
    content: "s";
    color: black;
    background-color: white;
    position: relative;
    right: 6px;
}